In [1]:
# Dependencies and Setup 
import pandas as pd 
import numpy as np 

#Load csv file
pydata = "Resources/purchase_data.csv"

#Read Purchasing file and store into Pandas data frame
purchase_data = pd.read_csv(pydata)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [13]:
#establish the number of unique players 
player_count = len(purchase_data['SN'].unique())
player_count

576

In [12]:
# Display the total number of players in a DataFrame

player_table = pd.DataFrame({"Total Players": [player_count]})
player_table

   Total Players
0            576

In [15]:
#establish the number of unique items 
unique_items = len(purchase_data['Item ID'].unique())
unique_items

183

In [16]:
#establish the average price of the items purchased
AveragePrice = purchase_data['Price'].mean()
AveragePrice

3.050987179487176

In [19]:
#establish the number of purchases 
purchase_count = len(purchase_data["Item Name"])
purchase_count

780

In [17]:
#establish the total revenue of the items purchased 
total_revenue = purchase_data['Price'].sum()
total_revenue

2379.77

In [20]:
# Place all of the data found into a summary DataFrame
purchase_table = pd.DataFrame({"Number of Unique Items": unique_items,
                              "Average Price": [AveragePrice],
                              "Number of Purchases": [purchase_count],
                              "Total Revenue": [total_revenue]})
purchase_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77